#shipping_gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px black;
    font-style: italic;
    font-size: 18px;
  }
  
  aside > p {
    margin: 0.5rem;
  }

  .card {
    margin-bottom: 10px;
  }

  table {
    margin-left: 15px;
  }

  #first_letter {
    float:left;
    font-size: 75px;
    line-height: 48px;
    text-transform: uppercase;
  }